body {
    background-image: url('../img/bg/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.background-mobile {
    display: none;
}
.btn-keyword-container {
    display: flex;
}

.imgs-grid {
    grid-template-columns: repeat(8, 1fr);
}

.imgs-grid div {
    height: calc(12.5vw - 16.24px);
} 

/* editor */

.headings {
    display: block;
}

.editor {
    flex-direction: row;
    justify-content: space-around;
    max-width: none;
    margin: 0;
}

.canvas-container {
    flex-grow: 1;
    transform: scale(1,1);
}

canvas {
    width: 563px;
    height: 563px;
}


.editing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.edit-buttons * {
    height: 45px;
}

.download {
    align-self: flex-end;
    padding-right: 40px;
    background-origin: padding-box;
    background-position-x: 89%;
}