.about-contramemes {
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    font-family: 'tungsten-light';
    font-size: 50px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;    
}

.background-mobile {
    display: none;
}
.btn-keyword-container {
    display: flex;
}

.imgs-grid {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1400px;
    margin: 0 auto;    
}

.imgs-grid div {
    height: 300px;
} 
.cabezon-contramemes img {
    max-width: 100%;
    height: 300px;
}

/* editor */

.headings {
    display: block;
}

.headings h2 br {
    display: none;
}

.editor {
    flex-direction: row;
    justify-content: space-around;
    max-width: none;
    margin: 0;
}

.canvas-container {
    flex-grow: 1;
    transform: scale(1,1);
}

canvas {
    width: 563px;
    height: 563px;
}


.editing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.edit-buttons * {
    height: 45px;
}

.download {
    align-self: flex-end;
    background-origin: padding-box;
    background-position-x: 89%;
}