body {
    padding-bottom: 0px;
}
.about-contramemes {
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    font-family: 'tungsten-light';
    font-size: 26px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;  
}
.background-mobile {
    width: 100%;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    background-image: url(../img/bg/bg-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
}
.background-desktop {
    display: none!important;
}
.imgs-grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-auto-rows: auto;
    grid-gap: 10px;
    margin-bottom: 30px;
}
.imgs-grid div {
    height: 37vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    grid-row: span 1;
    grid-column: span 1;
    max-width: 100%;
    margin-bottom: 0px;
}
.canvas-container {
    transform: scale(0.5,0.5);
}
footer p {
    background: #dcddde;
    color: #241f20;
    font-family: 'tungsten-medium';
    font-size: 11px;
    text-align: center;
    margin: 0px;
    padding: 10px;
}