<!DOCTYPE html>
<html lang="en" ng-app="Meme">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Quilmes | CONTRAMEMES</title>
    <meta name="theme-color" content="#000000">
    <meta property="og:title" content="Quilmes | CONTRAMEMES" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://example.com" />
    <meta property="og:image" content="image/examples" />		
    <meta property="og:description" content="Quilmes | CONTRAMEMES" />   
    <script src="js/jquery-1.9.1.min.js"></script>   
    <script src="js/console-image.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/script.js"></script>     
</head>
<body>
    <div class="background-mobile">
        <!-- keep empty -->
    </div>
    <div class="background-desktop">
        <!-- keep empty -->
    </div>    
    <div id="overlay-exit">
        <!-- keep empty -->
    </div>    
    <header>
        <button id="back-to-imgs" class="clean-btn back-to-imgs" onclick="closeEditor()">
            VOLVER
        </button>
        <h2 class="logo">
            <img src="img/quilmes/logo.png" alt="">
        </h2>
    </header>
    <main ng-controller="MainController">
        <section class="headings">
            <h1><img src="img/quilmes/contramemes.png" alt=""></h1>
            <p class="about-contramemes">¿Qué son los CONTRAMEMES? Una idea para responder con humor a los memes negativos contra nuestra Selección.</p>
            <h2>
                I. Elegí tu meme. II. Creá tu frase <br> III. Descargalo y compartilo.
            </h2>
            <p class="cabezon-contramemes">
                <img src="img/cabezon-contramemes.gif" alt="">
            </p>
        </section>
        <section class="img-gallery container">
            <div class="imgs-grid">
                <div ng-repeat="ruggeri in ruggeris" data-id="{{ ruggeri.id }}" style="background-image: url(./{{ ruggeri.url }})" onclick="openEditor({{ ruggeri.id }})" ng-click="selectedMeme(ruggeri.id)"></div>
            </div>
        </section>        
        <section class="editor container">
            <div>
                <div class="container-fluid">
                    <div class="info span4">
                        <form id="gform" method="POST" class="pure-form pure-form-stacked" data-email="example@email.net" action="https://script.google.com/a/netfilmx.com/macros/s/AKfycbxKD5kl8hLylzqiVyfK4_MCWE0U9fgPnT_T3FpehA/exec">
                            <div class="canvas"></div>                            
                            <fieldset>
                                <input id="meme" name="meme" placeholder="meme" value="" class="input-heading" style="display:none;"/>
                            </fieldset>    
                            <fieldset>
                                <input width="75px" type="text" id="toptext" name="toptext" ng-model='toptext' ng-change="alterMeme()" placeholder="texto arriba" class="input-heading first-input"/>
                                <input type="text" id="bottomtext" name="bottomtext" ng-model='bottomtext' ng-change="alterMeme()" placeholder="texto abajo" class="input-heading"/>
                                <input id="email" name="email" type="email" value="" required placeholder="INGRESÁ TU MAIL" class="input-heading"/>
                                <span id="email-invalid" style="display:none!important">Must be a valid email address</span>                                
                                <button id="upload" class="button-success btn btn-large btn-primary download" ng-click="create()">CREAR CONTRAMEME</button>
                                <div id="uploaded" style="color: gray; display: none;">Link will appear here</div>
                            </fieldset>                            
                        </form>
                        <div style="display:none;" id="thankyou_message">
                            <div class="thanks-close" onclick="reloadEditor()">
                                <img src="img/close.png" alt="">
                            </div>
                            <div class="thanks-messages">
                                <p class="thanks-message-one">CONTRAMEME<br>CREADO<br>CON ÉXITO</p>
                                <p class="thanks-message-two">te lo mandamos a tu mail</p>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </section>        
    </main>
    <div id="down-arrow">
        <img src="img/down-arrow.png" alt="">
    </div>
    <footer>
        <p>BEBER CON MODERACIÓN. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS</p>
    </footer>
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>  
    <script src='js/main.js'></script>
    <script data-cfasync="false" type="text/javascript" src="js/form-submission-handler.js"></script>
    <script>
        document.onscroll = function() {
            if (window.innerHeight + window.scrollY < document.body.clientHeight) {
                $('#down-arrow').css('display','block');
            }
            else {
                $('#down-arrow').css('display','none');
            }
        }
    </script> 
</body>
</html>