<html ng-app="Meme">
	<head>
		<title>Meme Generator</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<script src="js/jquery-1.9.1.min.js"></script>
		<script src="js/console-image.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/script.js"></script>
	</head>
	<body>
		<div ng-controller="MainController">
			<div class="container-fluid">
				<div class="canvas"></div>
				<div class="info span4">
				    <fieldset>
						<input width="75px" type="text" ng-model='toptext' ng-change="alterMeme()" placeholder="top text"/>
						<input type="text" ng-model='bottomtext' ng-change="alterMeme()" placeholder="bottom text"/>
						<select ng-model="selectedMeme" ng-init="selectedMeme = memes[0]" ng-change="alterMeme()" ng-options="m.name for m in memes">
						</select>
						<button class="btn btn-large btn-primary" ng-click="create()">Save Image</button>
					</fieldset>
				</div>
			</div>
		</div>
	</body>
</html>
